# Created by .ignore support plugin (hsz.mobi)
### gary template
# IntelliJ project files
.idea
*.iml

# Log file
logs
*.log

# maven target
target

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# dev dir
spark-warehouse
bak
